
body, html {
    width: 100%;
    height: 100%;
}

.bg {
    width: 100%;
    height: 60%;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("img/people-connecting.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top: 70px;
}

.bgtxt {
    width: 100%;
    height: 35px;
    position: absolute;
    top: 25%;
    text-align: center;
    color: white;
    font-size: 24px;
}

.u1{
    padding-left: 10%;
}