{% load static %}
<!DOCTYPE html>

<head>
    
    <!--CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-reboot.min.css'%}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css'%}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/sidebar.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}"/>

    <!--Javascript-->
    <script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.bundle.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/sidebar.js'%}"></script>
    <title>{{ title }} - iLonely </title>

</head>

<body>
    {% if request.user.is_authenticated %}
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Home</button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href={% url 'view_nearby'%}>Nearby</a>
                    <a class="dropdown-item" href={% url 'view_following'%}>Following</a>
                </div>
            </div>
        </div>
    {% else %}
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href={% url 'home'%}>Home</a>
        </div>
    {% endif %}

    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
        <form class="form-inline">
            <button class="btn btn-outline-success" style="background-color: antiquewhite;" type="button" onclick="openNav()">
                <span class="navbar-toggler-icon"></span>
            </button>
        </form>
        <div class="mx-auto order-0">
            <h1>iLonely</h1>
        </div>
    </nav>

	<div class="container body-content">
    </div>
		{% block content %}{% endblock %}
	<footer>
		<p>iLonely by 6:10 Squad</p>
	</footer>
</body>