{% extends "pages/base.html"%}

{% block content %}
    <h1>This is the Forgot Password page!</h1>
    <i>Please enter your username</i>
    <!-- Creates a field for email submission -->
    <form method="post">
        {% csrf_token %}
        Username:<br>
        <input type="text" name="username"><br>
        <input type="submit" value="Submit">
    </form>
    <!-- Fixme: Output confirmation message -->

    <!-- Fixme: Reset password and send user email containing the new password -->

    <!-- Links -->
    <p><a href={% url 'login' %}>Go Back</a></p>

{% endblock %}