{% extends "pages/base.html"%}

{% block content %}
    <h1>This is the Forgot Username page!</h1>
    <i>Please enter your email address</i>
    <!-- Creates a field for email submission -->
    <form method="post">
        {% csrf_token %}
        Email:<br>
        <input type="text" name="email"><br>
        <input type="submit" value="Submit">
    </form>
    <!-- Fixme: Output confirmation message -->

    <!-- Fixme: Send user email containing their username -->

    <!-- Links -->
    <p><a href={% url 'login' %}>Go Back</a></p>

{% endblock %}