{% extends "pages/base.html"%}
{% block content %}
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"/>
    </head>

    <div class="bg">
        <div class="bgtxt">
            A lonely website for lonely people
        </div>
    </div>
    <ul>
        <li><a href={% url 'register' %}>Register</a></li>
        {% if user.is_authenticated %}
            <li><a href={% url 'user_home' %}>Login</a></li>
        {% else %}
            <li><a href={% url 'login' %}>Login</a></li>
        {% endif %}
    </ul>
{% endblock %}