{% extends "pages/base.html"%}

{% block content %}
    <h1>This is the login page!</h1>
    <form method="post">
        {% csrf_token %}
        Username:<br>
        <input type="text" name="username"><br>
        Password:<br>
        <input type="password" name="password"><br>
        <input type="submit" value="Submit">
    </form>
    <p><a href={% url 'forgot_username' %}>Forgot Username</a></p>
    <p><a href={% url 'forgot_password' %}>Forgot Password</a></p>
    <p><a href={% url 'home' %}>Go Back</a></p>
{% endblock %}