{% extends "pages/base.html" %}

{% block content %}
    <h2 style="padding-left:10px;">Follow Requests</h2>
    <form method="post"> 
        {% csrf_token %}
        <i>Fixme: Request Here</i><br>
        <i>Fixme: Request Here</i><br>
        <i>Fixme: Request Here</i><br>
    </form>
    <br>
    <br>
    <h2 style="padding-left:10px;">Message Requests</h2>
    <form method="post"> 
        {% csrf_token %}
        <i>Fixme: Request Here</i><br>
        <i>Fixme: Request Here</i><br>
        <i>Fixme: Request Here</i><br>
    </form>
    <br>
    <br>
    <p><a href={% url 'user_home' %}>Go Back</a></p>
{% endblock %}