{% extends "pages/base.html" %}

{% block content %}
    <img src="{{profile.photo.url}}" />
    <span>{{profile.first_name}}&nbsp;{{profile.last_name}}</span>
    <button style="float:left;" type="button" name="messageUser" value="{{profile.user}}">Message</button>
    <button style="float:left;" type="button" name="followUser" value="{{profile.user}}">Follow / Unfollow</button>
    <button style="float:left;" type="button" name="blockUser" value="{{profile.user}}">Block / Unblock</button>
    <span>{{profile.bio}}</span>
    <p><a href={% url 'user_home' %}>Go Back</a></p>
{% endblock %}