{% extends "pages/base.html"%}

{% block content %}
    <head>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    </head>

    <div class="mx-auto flex-shrink-0 p-2" style="width:400px">
        <div style="text-align:center;">
            <h2>Set a New Password</h2>
            <br>
            <!-- For printing out error messages -->
            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger" role="alert" style="display:inline-block; font-weight:bold"> {{ error }} </div>
                        <br />
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger" role="alert" style="display:inline-block; font-weight:bold"> {{ error }} </div>
                    <br />
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="mx-auto flex-shrink-0 p-2" style="width:400px">
        {% if validlink %}
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    New Password:<br>
                    <input type="password" class="form-control" name="new_password1" required>
                </div>
                <div class="form-group">
                    Confirm Password:<br>
                    <input type="password" class="form-control" name="new_password2" required>
                </div>
                <input type="submit" value="Change Password" class="btn btn-primary my-3">
            </form>
        {% else %}
        <p>
            The password reset link was invalid, possibly because it has already been used.
            Please request a new password reset.
        </p>
        {% endif %}
    </div>

{% endblock %}

<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>