{% load static %}
{% load i18n static %}
{% load postman_tags %}
<!DOCTYPE html>

<head>
    <title>{% block title %}iLonely{% endblock %} </title>
    
    <!-- Bootstrap Meta Tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js'%}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.min.css' %}"/>

    <!--Javascript-->
    <script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/popper.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/moment.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css'%}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-datetimepicker.min.css' %}" />
    
    <script type="text/javascript" src="{% static 'js/jquery-ui.min.js'%}"></script>

    {% block extrahead %}{% endblock %}
</head>

<body>
    {% if request.user.is_authenticated %}
        <nav class="navbar navbar-expand-lg fixed-top bg-light navbar-light">
            <div class="container-fluid">
                <a class="navbar-brand" href={% url 'home' %}>iLonely</a>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a class="nav-link" href={% url 'user_home' %}>Home</a></li>
                    <li class="nav-item"><a class="nav-link" href={% url 'my_profile' %}>My profile</a></li>
                    <li class="nav-item dropdown">{% postman_unread as unread_count %}
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% trans "Messages" %}{% if unread_count %} <strong>({{ unread_count }})</strong>{% endif %}</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href={% url 'postman:inbox' %}>{% trans "Inbox" %}</a>
                            <a class="dropdown-item" href={% url 'postman:sent' %}>{% trans "Sent Messages" %}</a>
                            <a class="dropdown-item" href={% url 'postman:write' %}>{% trans "Write" %}</a>
                            <a class="dropdown-item" href={% url 'postman:archives' %}>{% trans "Archives" %}</a>
                            <a class="dropdown-item" href={% url 'postman:trash' %}>{% trans "Trash" %}</a>
                        </div>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href={% url 'notifications' %}>
                        Notifications
                        {% load notif_badge_tags %}
                        {% show_new_notifications request.user.id %}
                    </a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href={% url 'view_following' %}>Following</a></li>
                    <li class="nav-item"><a class="nav-link" href={% url 'view_nearby' %}>Nearby</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'marketplace' %}">Marketplace</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'events' 0 %}">Events</a></li>
                </ul> 
            
                <form class="form-inline my-2 my-lg-0 Logout-link" action="logout" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary btn-sm">Logout</button>
                </form>
            </div>
        </nav>
    {% else %}
        <nav class="navbar navbar-expand-lg fixed-top bg-light navbar-light">
            <div class="container-fluid">
                <a class="navbar-brand" href={% url 'home' %}>iLonely</a>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class   ="nav-link" href={% url 'register' %}>Register</a></li>
                    <li class="nav-item"><a class ="nav-link" href={% url 'login' %}>Login</a></li>
                </ul>
            </div>
        </nav>
    {% endif %}
    {% block postman_menu %} {% endblock %}
    {% block content %}{% endblock %}
    <div class="w-100 bg-light" style="position:fixed; bottom:0">
	    <footer>
		    <p>iLonely by 6:10 Squad</p>
	    </footer>
    </div>
</body>

{% block javascript %}{% endblock %}
