{% extends "pages/base.html" %}

{% block content %}
    <h1 style="text-align:center">View all of sqlite data!</h1>
    <h2>Users</h2>
    <table>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Username</th>
            <th>Password</th>
        </tr>
        {% for item in users %}
        <tr> 
            <td>{{ item.first_name }}</td>
            <td>{{ item.last_name }}</td>
            <td>{{ item.email }}</td>
            <td>{{ item.username }}</td>
            <td>{{ item.password }}</td>
        </tr>
        {% endfor %}
    </table>

    <h2>Profiles</h2>
    <table>
        <tr>
            <th>User</th>
            <th>Bio</th>
            <th>Age</th>
            <th>Photo</th>
            <th>Location</th>
        </tr>
        {% for item in profiles %}
        <tr> 
            <td>{{ item.user }}</td>
            <td>{{ item.bio }}</td>
            <td>{{ item.age }}</td>
            <td>{{ item.photo }}</td>
            <td>{{ item.location }}</td>
        </tr>
        {% endfor %}
    </table>

    <h2>Follows</h2>
    <table>
        <tr>
            <th>User Following</th>
            <th>User Followed</th>
            <th>Is Request</th>
        </tr>
        {% for item in follows %}
        <tr> 
            <td>{{ item.userFollowing }}</td>
            <td>{{ item.user }}</td>
            <td>{{ item.isRequest }}</td>
        </tr>
        {% endfor %}
    </table>

    <h2>Blocks</h2>
    <table>
        <tr>
            <th>User Blocking</th>
            <th>User Blocked</th>
        </tr>
        {% for item in blocks %}
        <tr> 
            <td>{{ item.userBlocking }}</td>
            <td>{{ item.user }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}