{% extends "pages/base.html" %}
  
{% block extrahead %}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}

{% block content %}
<style>
.material-icons {
    vertical-align: middle;
}

.profilePicture {
    border-radius: 50%; 
    box-shadow: 3px 3px 3px #cecece; 
    width:150px; 
    margin-left:auto;
    margin-right:auto;
    display:block;
}
/* Modified and taken from https://github.com/IanLunn/Hover */
@-webkit-keyframes hvr-pop {
    50% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}
@keyframes hvr-pop {
    50% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}
.addProfilePicIcon {
    position:absolute;
    left:59%;
    bottom:10%;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.addProfilePicIcon:hover {
    -webkit-transform: scale(1.1) rotate(4deg);
    transform: scale(1.1) rotate(4deg);
}

.addProfilePicIcon:active {
    -webkit-animation-name: hvr-pop;
    animation-name: hvr-pop;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

.material-icons.md-40 { font-size: 40px; }
</style>


<div class="mx-auto m-2" style="width:550px">
    <form method="post" enctype="multipart/form-data"> 
             
    
        {% csrf_token %}
        <div class="card p-4 shadow-sm">
            <h3 class="text-muted">Edit Profile</h3>
            <div class="row">
                <div class="col"><hr /></div>
            </div>

            <div class="row mb-3">
                <div class="col">
                    {% if profile.photo %}
                        <img id="profilePreview" class="profilePicture" src="{{profile.photo.url}}" />
                    {% endif %}
                    <label class="addProfilePicIcon my-auto bg-light rounded-circle p-1" style="box-shadow: 3px 3px 3px #cecece;" for="profilePhoto" id="pc_label"><i class="material-icons md-40">add_photo_alternate</i></label>
                    <input type="file" name="profilePhoto" id="profilePhoto" accept="image/*" style="display:none">
                </div>
            </div>   

            <div class="form-group row">
                <label class="col-sm-3">First Name</label>
                <div class="col-sm-9">
                    <input class="form-control" type="text" name="fnamespace" value= {{profile.user.first_name}}>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-3">Last Name</label>
                <div class="col-sm-9">
                    <input class="form-control" type="text" name="lnamespace" value= {{profile.user.last_name}}>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-3">Age</label>
                <div class="col-sm-9">
                    <input type="number" min="18" class="form-control" name="agespace" value= {{profile.age}} >
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-3">Bio</label>
                <div class="col-sm-9">
                    <textarea class="form-control" name="biospace" maxlength="500" rows="4" cols="50">{{profile.bio}}</textarea>
                </div>
            </div>
            
            <div class="form-group row">
                <label class="col-sm-3">Hobbies</label>
                <div class="col-sm-9">
                    <textarea class="form-control" name="hobbies" maxlength="75" rows="2" cols="50">{{profile.hobbies}}</textarea>
                </div>
            </div>

            <div class="row">
                <div class="col"><hr class="mb-4"/></div>
            </div>

            <div class="input-group row">
                <div class="col">

                </div>
                <input class="btn btn-success mr-2 w-25" style="box-shadow: 3px 3px 3px #cecece;" type="submit" name ="editFields" value="Save">
                <input class="btn btn-danger w-25" style="box-shadow: 3px 3px 3px #cecece;" type="submit" name ="Cancel" value="Cancel">
            </div>
        </div>
    </form>
</div>

<!-- Partial code from https://github.com/mdn/learning-area/blob/master/html/forms/file-examples/file-example.html -->
<script>
    var pc_image = document.getElementById("profilePhoto");
    pc_image.addEventListener('change', updateImageDisplay);

    function updateImageDisplay() {
        var curFiles = pc_image.files;
        if (curFiles.length > 0) {
            var image = document.getElementById("profilePreview");
            image.src = window.URL.createObjectURL(curFiles[0]);
        }
    }
</script>

{% endblock %}


