{% extends "pages/base.html" %}

{% block content %}

    <div class="container" style="padding-top:15px;">
        <div class="row">
            <div class="col">
                {% if profile.photo %}
                    <img style="border-radius: 50%; box-shadow: 3px 3px 3px #cecece; width:150px; margin-left:auto;margin-right:auto;display:block;" src="../../{{profile.photo.url}}" />
                {% else %}
                    <img style="border-radius: 50%; box-shadow: 3px 3px 3px #cecece; width:150px; margin-left:auto;margin-right:auto;display:block;" src="../../pages/media/profile_photos/default.jpg" />
                {% endif %}
                
            </div>
        </div>
    </div>

    <div style="text-align:center;padding-top:10px;padding-bottom:10px;"><h2>{{profile.user.first_name}}&nbsp;{{profile.user.last_name}}</h2></div>
    <div style="text-align:center;padding-bottom:10px;">
        <form action="{% url 'public_profile' profile.user.id %}" method="post"> {% csrf_token %}
            <div class="container">
                <div class="row">
                    <div class="col">
                        <button type="submit" class="{% if message_request %} btn btn-light {% elif pending_approval or messagable %} btn btn-warning {% else %} btn btn-success {% endif %}" style="width:100%;box-shadow: 3px 3px 3px #cecece;" name="messageUser" value="{{profile.user.id}}">
                            {% if message_request %} 
                                Message Requested &#x2713; 
                            {% elif pending_approval == True %} 
                                Confirmation Pending 
                            {% elif messagable == True %}
                                Send Message
                            {% else %}
                                Message
                            {% endif %}
                         </button>
                    </div>
                    <div class="col-5">
                       <button type="submit" class="{% if following %} btn btn-light {% else %} btn btn-primary {% endif %}" style="width:100%;box-shadow: 3px 3px 3px #cecece;" name="followUser" value="{{profile.user.id}}">
                            {% if following %} Following &#x2713; {% else %} Follow {% endif %}
                       </button>
                    </div>
                    <div class="col">
                        <button type="submit" class="{% if blocking %} btn btn-danger {% else %} btn btn-primary {% endif %}" style="width:100%;box-shadow: 3px 3px 3px #cecece;" name="blockUser" value="{{profile.user.id}}">
                            {% if blocking %} Blocked &#x2717; {% else %} Block {% endif %}
                        </button>
                    </div>
                </div>
            </div>
            
        </form>
    </div>
    <div style="padding-top:20px;" class="container-fluid">
        <div class="row">
            <div class="col"></div>
            <div class="col-md-10 col-md-offset-1">
                <div style="background-color:rgba(249, 250, 251, 1);box-shadow: 3px 3px 3px #cecece" padding="0px" class="jumbotron text-center">
                    <h4>About me!</h4>
                    <hr class="my-4" style="width:70%" />
                    <p class="lead">{{profile.bio}}</p>
                </div>
            </div>
             <div class="col"></div>
        </div>
    </div>
    <p><a href={% url 'user_home' %}>Go Back</a></p>
{% endblock %}