{% extends "pages/base.html" %}
{% load static %}

{% block content %} 
    <div class="mx-auto flex-shrink-0" style="width:420px">
        <div style="text-align:center;">
            <h2>Register</h2>
            <p>Be less lonely, with ilonely.</p>
        </div>
        <div class="card p-4">
        <form method="POST">
            <div>
                {% csrf_token %}
                <div class="form-group">
                    {{ form.username.label_tag }}
                    {{ form.username }}
                    <small class="form-text text-danger">
                        {{form.errors.username.as_text}}
                    </small>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        {{ form.firstname.label_tag }}
                        {{ form.firstname }}
                    </div>
                    <div class="form-group col-md-6">
                        {{ form.lastname.label_tag }}
                        {{ form.lastname }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form.age.label_tag }}
                    {{ form.age }}
                    <small class="form-text text-danger">
                        {{form.errors.age.as_text}}
                    </small>
                </div>

                <div class="form-group">
                    {{ form.email.label_tag }}
                    {{ form.email }}
                    <small class="form-text text-danger">
                        {{form.errors.email.as_text}}
                    </small>
                </div>

                <div class="form-group">
                    {{ form.password1.label_tag }}
                    {{ form.password1 }}                    
                    {{ form.password2.label_tag }}
                    {{ form.password2 }}
                    <small class="form-text text-danger">
                        {{form.errors.password1.as_text}}
                        {{form.errors.password2.as_text}}
                    </small>
                </div>

                <div style="text-align:center">
                    <input type="submit" class="btn btn-primary my-3 btn-block" value="Sign Up"/>
                </div>
            </div>
        </form>
        <div>
        <p style="text-align:center; border-bottom: 1px solid lightgray; line-height:0.1em">
            <span class="text-muted" style="background:#fff; padding:0 10px;">or</span>
        </p>
        </div>
        <a href="{% url 'social:begin' 'google-oauth2' %}">
            <img class="w-50" src="{% static "css/img/google_sign_in.png" %}">
        </a>
        </div>

        <div class="card p-2 my-3">
            
            <small style="text-align:center" class="form-text text-muted">
                Already have an account? <a href={% url 'login' %} role="button">Log in.</a><br>
            </small>
        </div>
    </div>
{% endblock %}

<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>