{% extends "pages/base.html"%}
{% block content %}
    <!-- Login page display -->
    {% if user.is_authenticated %}
        <div class="mx-auto flex-shrink-0" style="width:300px">
            <div style="text-align:center;">
                <h2>{{ request.user.username }}'s Feed</h2>
            </div>
        </div>
        {% include "pages/feed.html" %}
    {% else %}
        <!-- Unauthorized users should not have access to here -->
        <h2>Please log in to access this page</h2>
    {% endif %}

{% endblock %}
