{% extends "pages/base.html" %}
{% load leaflet_tags %}

{% block extrahead %}
    {% leaflet_js %}
    {% leaflet_css %}

    <!-- Javascript for filtering nearby people -->
    <script src="static/js/extras.js"></script>
{% endblock %}

{% block content %}
    <style>
        #profileButton {
            cursor: pointer;
            width: 400px;
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left: 20px;
            border: none;
            background-color: #f2f2f2;
            box-shadow: 3px 3px 3px #cecece;
        }

        #filters {
            text-align:center;
            height: 120px;
        }

        .leaflet-container {  /* all maps */
            width:  100%;
            height: 75%;
        }
    </style>

    <div class="mb-3 p-2" id="filters">
        <h2>Nearby in {{request.user.profile.location}}</h2>
        <div class="nav btn-toolbar justify-content-center">
            <form method="GET">
                <!-- Filter nearby users by miles -->
                <div class="btn-group btn-group-toggle" data-toggle="buttons" >
                    <span class="btn input-group-text" id="basic-addon1">Miles</span>
                    <label class="btn btn-outline-primary">
                        <input type="radio" onclick="sortPeople(10)" autocomplete="off" name="milesFilter" value="10">10
                    </label>
                    <label class="btn btn-outline-primary">
                        <input type="radio" onclick="sortPeople(5)" autocomplete="off" name="milesFilter" value="5">5
                    </label>
                    <label class="btn btn-outline-primary">
                        <input type="radio" onclick="sortPeople(3)" autocomplete="off" name="milesFilter" value="3">3
                    </label>
                    <label class="btn btn-outline-primary">
                        <input type="radio" onclick="sortPeople(1)" autocomplete="off" name="milesFilter" value="1">1
                    </label>
                </div>
                
                <!-- Filter nearby users by age -->
                <!--
                <div>
                    <label class="btn btn-outline-primary active">
                        <input type="radio" onclick="sortPeople(10)" autocomplete="off" name="milesFilter"  value="10" checked>10
                    </label>
                    <label class="btn btn-outline-primary">
                        <input type="radio" onclick="sortPeople(5)" autocomplete="off" name="milesFilter" value="5">5
                    </label>
                    <label class="btn btn-outline-primary">
                        <input type="radio" onclick="sortPeople(3)" autocomplete="off" name="milesFilter" value="3">3
                    </label>
                    <label class="btn btn-outline-primary">
                        <input type="radio" onclick="sortPeople(1)" autocomplete="off" name="milesFilter" value="1">1
                    </label>
                </div>
                --->
                <input type="submit" class="btn btn-primary my-3" value="Submit"/>
            </form>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-3-auto">
                <div class="h-75" style="overflow-y:scroll;">
                    <form action="{% url 'view_nearby' %}" method="post"> {% csrf_token %}
                    <ul class="list-group list-group-flush" id="profiles">
                    {% for person, distance in people %}
                        <li style="border: none;" class="list-group-item">             
                            <button type="submit" name="viewUser" id="profileButton" value="{{person.user.id}}">
                                {% if person.photo %}
                                    <img style="border-radius: 50%; width:50px; float:left;" src="../../{{person.photo.url}}" />
                                {% else %}
                                    <img style="border-radius: 50%; width:50px; float:left;" src="../../pages/media/profile_photos/default.jpg" />
                                {% endif %}
                                <span>
                                    <p style="padding-left:15px;float:left;">{{person.user.first_name}}&nbsp;{{person.user.last_name}}<br/>
                                    <small class="text-muted" style="float:left">{{person.age}} years old</small></p>
                                </span>
                                <small style="text-align:right;align-self:center;float:right" class="distances text-muted ">{{ distance }}mi</small>
                            </button>
                            <p class="lat" hidden>{{person.latitude}}</p>
                            <p class="long" hidden>{{person.longitude}}</p>
                        </li>
                    {% endfor %}
                    </ul>
                    </form>
                </div>
            </div>
            <div class="col">
                {% leaflet_map "yourmap" callback="map_init_basic"%}
            </div>
        </div>
    </div>

    <div id="testing">TESTING FOR MAP stuff</div>
    <script type="text/javascript">
        function map_init_basic(map, options) {
            L.marker([{{ user.profile.latitude }},{{ user.profile.longitude }}]).addTo(map);
            map.setView([{{ user.profile.latitude }}, {{ user.profile.longitude }}], 11);
            circle = L.circle([{{ user.profile.latitude }}, {{ user.profile.longitude }}], {
                    color: 'blue',
                    fillColor: 'blue',
                    fillOpacity: 0.1,
                    radius: {{ radius }}*1609.344
            }).addTo(map);

            lats = document.getElementsByClassName("lat");
            longs = document.getElementsByClassName("long");
            for (i = 0; i < lats.length; i++) {
                lat = lats[i].innerHTML;
                long = longs[i].innerHTML;
                L.marker([parseFloat(lat), parseFloat(long)]).addTo(map);
            }

            var out = document.getElementById('testing');
            out.innerHTML = "hey ;)";
        }
    </script>
{% endblock %}
