{% extends "pages/base.html" %}

{% block extrahead %}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}

{% block content %}
<style>
.material-icons {
    vertical-align: middle;
}

.profileButton {
    cursor:pointer;
    color: black;
    padding:10px;
}

.profileButton:hover {
    color: black;
}

.profileImage {
    border-radius: 50%; 
    width:50px; 
    float:left;
}

</style>

<div class="container mx-auto card">
    <div class="row">
        <div class="col-lg-6 border-right">
            <div class="w-100 p-2">
            {% if product.photo %}
                <img style="width:100%" src="{{ product.photo.url }}" />
            {% endif %}
            </div>
        </div>
        <div class="col-lg">
            <div style="height:65px;">
                <a href="{% url 'public_profile' product.seller.user.id %}" class="profileButton" style="text-decoration:none;">
                    <div style="display:flex; align-items:center">
                        {% if product.seller.photo %}
                            <img class="profileImage" style="vertical-align:middle" src="{{product.seller.photo.url}}" />
                        {% endif %}
                        &nbsp;
                        <h5 class="align-middle"> {{product.seller.user.first_name}}&nbsp;{{product.seller.user.last_name}}</h5>
                    </div>    
                </a>
            </div>
            <hr />

            <div class="my-2">
                <small class="text-muted my-3">Posted: {{product.date_created}}</small>
            </div>

            <div>
                <div>
                    <h4 style="display:inline">{{ product.name }}</h4>
                    <div style="float:right; font-size:15pt">
                        {% if product.price is not 0 %}
                            <b style="color:green">${{product.price}}</b>
                        {% else %}
                            <b>FREE</b>
                        {% endif%}
                    </div>
                </div>
                <p class="my-2">{{ product.description }}</p>
            </div>

            <div class="w-100 p-3">
                <hr />
                <a style="box-shadow: 3px 3px 3px #cecece;" class="btn btn-block btn-primary" href="{% url 'postman:write' product.seller.user.username %}?subject={{product.name}} Offer&body=I'm interested...">
                    <i class="material-icons">mail_outline</i> Message Seller
                </a>
                <button style="display:none" class="btn btn-block btn-outline-primary">
                    Make Offer
                </button>
            </div>
        </div>
    </div>
</div>

{% endblock %}